---
Checks: "*,
        -abseil-*,
        -altera-*,  
        -android-*,
        -boost-*,
        -darwin-*,
        -fuchsia-*,
        -google-*,
          google-explicit-constructor,
        
        -linuxkernel-*,
        -llvm-*,
        -llvmlibc-*,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -zircon-*,
        
        -bugprone-easily-swappable-parameters,
        -bugprone-branch-clone,
        -modernize-use-trailing-return-type,
        -modernize-use-std-numbers,
        -modernize-use-nodiscard,
        -modernize-return-braced-init-list,
        -readability-else-after-return,
        -readability-magic-numbers,
        -readability-use-anyofallof,
        -readability-identifier-length,
        -readability-static-accessed-through-instance,
        -readability-function-cognitive-complexity,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-pro-type-union-access,
        -misc-non-private-member-variables-in-classes,
        -misc-include-cleaner,
"
